/ {
    aliases {
        ambient-temp = &temp_sensor;
        light-adc = &adc;
    };
};

&sercom1 {
    status = "okay";

    /* O seu sensor inercial */
    bno055@28 {
        compatible = "bosch,bno055";
        reg = <0x28>;
    };

    /* O sensor de temperatura da Mariane */
    temp_sensor: at30tse75x@4f {
        compatible = "atmel,at30tse75x";
        reg = <0x4f>;
        status = "okay";
    };
};

/* O conversor analogico-digital para o sensor de luz */
&adc {
    status = "okay";
};