/ {
        aliases {
                ambient-temp = &temp_sensor;
                light-adc = &adc;
        };
};

// mapeamento do sensor de temperatura
&sercom1 {
        status = "okay";
};

&sercom1 {
        status = "okay";
        compatible = "atmel,sam0-i2c";
        clock-frequency = <I2C_BITRATE_STANDARD>;

        bno055@28 {
                compatible = "bosch,bno055";
                reg = <0x28>;
        };
};
        temp_sensor: at30tse75x@4f {
                compatible = "atmel,at30tse75x";
                reg = <0x4f>; // endereco I2C fisico do chip no shield
                status = "okay";
        };
};

// mapeamento sensor de luz

&adc {
        status = okay;
};
